In [1]:
import pandas as pd
import numpy as np

In [2]:
score_table = pd.read_csv("./score_table_mean.csv", low_memory=False)
business = pd.read_csv("./business.csv")

In [4]:
business.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [5]:
def findRestaurant(df_business: pd.DataFrame):
    restaurant_name = input("Please enter the restaurant name: ")
    restaurant_zipcode = input("Please enter the restaurant zipcode: ")
    df_filterbyzipcode = df_business[df_business["postal_code"]==str(restaurant_zipcode)]
    df_filterbyname = df_filterbyzipcode[df_filterbyzipcode["name"].str.lower().str.contains(restaurant_name.lower())]
    if len(df_filterbyname) ==0:
        print("Restaurant not found")
        answer = input("Do you want to perform a new search?")
        if answer == "Yes" or answer =="Y" or answer == "y":
            findRestaurant(business)
        else:
            print("Goodbye")
    
    
    if len(df_filterbyname) == 1:
        print(df_filterbyname[["name", "address","postal_code"]])
        answer = input("Is this the restaurant you wanted to search? Input Yes or No.")
        if answer == "Yes" or answer =="Y" or answer == "y":
            return df_filterbyname["business_id"]
        else:
            print("***************************************","\n","Start a new search")
            findRestaurant(business)
    
    if len(df_filterbyname) > 1:
        print(df_filterbyname[["name", "address","postal_code"]])
        answer = input("Which address/location your restaurant is at?")
        if answer.lower() in df_filterbyname["address"].str.lower():
            df_filterbyaddress = df_filterbyname[df_filterbyname["address"].str.lower()== answer.lower()]
            return df_filterbyaddress["business_id"]
        else:
            print("Address not found")
            answer = input("Do you want to perform a new search?")
            if answer == "Yes" or answer =="Y" or answer == "y":
                findRestaurant(business)
            else:
                print("Goodbye")

In [6]:
findRestaurant(business)

Please enter the restaurant name: abby
Please enter the restaurant zipcode: 93101
                       name                 address postal_code
0  Abby Rappoport, LAC, CMQ  1616 Chapala St, Ste 2       93101
Is this the restaurant you wanted to search? Input Yes or No.y

0    Pns2l4eNsfO8kk83dixA6A
Name: business_id, dtype: object

In [29]:
findRestaurant(business)

Please enter the restaurant name: Abby
Please enter the restaurant zipcode: 93101
                       name                 address postal_code
0  Abby Rappoport, LAC, CMQ  1616 Chapala St, Ste 2       93101
Is this the restaurant you wanted to search? Input Yes or No.N
Please enter the restaurant name: UPS
Please enter the restaurant zipcode: 63123
            name                          address postal_code
1  The UPS Store  87 Grasso Plaza Shopping Center       63123
Is this the restaurant you wanted to search? Input Yes or No.Y

In [7]:
score_table.head()

,Unnamed: 0,swiss,soy milk,taro cake,dal,ploye,english,curry,chocolate,rice,...,kartoffelsuppe,wurstsalat,yentafo,chinmi,truffade,snake wine,nabak kimchi,fondue savoyarde,bai po,charleston red rice
0,MTSW4McQd7CbVtyjqoe9mw,4.714418,1.793701,-2.0,4.519842,-5.634241,1.764567,2.63507,2.228233,2.597241,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0bPLkL0QhhPO5kt1_EXmNQ,4.000000,NaN,NaN,NaN,3.144714,4.000000,NaN,NaN,2.328493,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IDtLPgUrqorrpqSLdfMhZQ,0.779630,-6.160168,NaN,-2.259921,-1.221003,2.144714,NaN,2.037383,1.090800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,oaboaRBUgGjbo2kfUIKDLQ,0.000000,NaN,NaN,NaN,1.505846,NaN,NaN,2.112356,2.348699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TLZ3-eDPLhUzfsWO4ad6Ug,-2.154435,NaN,NaN,4.000000,NaN,NaN,NaN,1.896850,0.773009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_filtered =score_table[score_table["Unnamed: 0"]=="MTSW4McQd7CbVtyjqoe9mw"]

In [10]:
df_filtered["swiss"]

0    4.714418
Name: swiss, dtype: float64

In [11]:
score_table = score_table.fillna(-999)

In [53]:
def rankDish(business_index: str, df_score_table: pd.DataFrame()):
    df_filtered = df_score_table.loc[df_score_table["Unnamed: 0"]==business_index,score_table.columns[1:]]
    top_dish = df_filtered.idxmax(axis = 1).values[0]
    top_score = df_filtered.max(axis = 1).values[0]
    if top_score == -999:
        print("No recommendation yet! follow your heart:)")
    else:
        print("we recommend: " + top_dish)

In [28]:
score_table.columns[1:]

Index(['swiss', 'soy milk', 'taro cake', 'dal', 'ploye', 'english', 'curry',
       'chocolate', 'rice', 'baozi',
       ...
       'kartoffelsuppe', 'wurstsalat', 'yentafo', 'chinmi', 'truffade',
       'snake wine', 'nabak kimchi', 'fondue savoyarde', 'bai po',
       'charleston red rice'],
      dtype='object', length=918)

In [51]:
temp = score_table.loc[score_table["Unnamed: 0"]=="MTSW4McQd7CbVtyjqoe9mw",score_table.columns[1:]]
temp.idxmax(axis = 1)

0    swiss
dtype: object

In [54]:
rankDish("MTSW4McQd7CbVtyjqoe9mw", score_table)

we recommend: swiss

In [55]:
rankDish("il_Ro8jwPlHresjw9EGmBg", score_table)

we recommend: bread

In [56]:
rankDish("hn9Toz3s-Ei3uZPt7esExA", score_table)

we recommend: naan